body {
  font-family: "Roboto", sans-serif;
}

.grid {
  display: grid;
  padding: 20px;
  grid-template-columns: 20% 10% 66%;
  grid-gap: 2%;
  max-width: 1000px;
  margin: 0 auto;
}

.analogy {
  position: relative;
}

img {
  background-color: #fff;
  width: 100%;
  height: auto;
}

.line {
  border-left: 1px dotted rgb(34, 172, 184);
  position: absolute;
  margin-left: 50%;
  margin-right: 50%;
  left: 0;
  right: 0;
  height: 100%;
  z-index: -5;
}

h2,
p {
  margin-top: 0;
}

.idiomas {
  display: flex;
  flex-direction: column;
  float: right;
  right: 0.2rem;
  font-size: 1rem;
}

.lang {
  margin-bottom: 0.5rem;
}

.lang:hover {
  cursor: pointer;
}

.foto {
  margin-bottom: 1rem;
}

.foto-perfil {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  width: 75%;
  height: auto;
}

.personal-info__name {
  font-size: 2.5rem;
  margin-bottom: 0.2rem;
  font-weight: 500;
}

.personal-info__career {
  font-size: 1.5rem;
  font-weight: 400;
  color: rgb(34, 172, 184);
}

.personal-info__social {
  font-size: 1rem;
  font-weight: 100;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
}

.data {
  margin-right: 0.8rem;
  display: flex;
  align-items: center;
}

.icon {
  width: 1rem;
  height: 1rem;
  margin-right: 0.3rem;
  color: rgb(34, 172, 184);
  fill: rgb(34, 172, 184);
}

a {
  text-decoration: none;
  color: black;
  font-weight: 300;
}

.skills__title {
  font-size: 1.2rem;
  font-weight: 300;
  color: rgb(34, 172, 184);
}

.skills__tools {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.2rem;
}

.skills__tool {
  font-size: 0.75rem;
  font-weight: 100;
  background-color: rgb(216, 238, 245);
  margin: 0.2rem;
  padding: 0.2rem 0.3rem;
  border-radius: 3px;
}

.profile__title {
  font-size: 1.2rem;
  font-weight: 300;
  color: rgb(34, 172, 184);
}

.profile__summary {
  font-size: 1rem;
  font-weight: 100;

  display: flex;
  flex-wrap: wrap;
}

.courses__title {
  font-size: 1.2rem;
  font-weight: 300;
  color: rgb(34, 172, 184);
}

.courses__detail {
  margin-bottom: 1.2rem;
}

.courses__description {
  font-size: 0.9rem;
  margin-bottom: 0;
  color: rgb(34, 172, 184);

  display: flex;
  flex-wrap: wrap;
}

.courses__year {
  font-size: 0.9rem;
  color: #777777;
}

.courses__source {
  font-size: 0.9rem;
  color: #777777;

  display: flex;
  flex-wrap: wrap;
}

.work__title {
  font-size: 1.2rem;
  font-weight: 300;
  color: rgb(34, 172, 184);
}

.work__experience {
  font-size: 1rem;
  margin-bottom: 1.2rem;
}

.work__position {
  font-size: 1.2rem;
  color: rgb(34, 172, 184);
  margin-bottom: 0.5rem;
}

.work__period {
  color: #777777;
}

.work__description {
  font-weight: 100;
}

.languages__title {
  font-size: 1.2rem;
  font-weight: 300;
  color: rgb(34, 172, 184);
}

.languages__language {
  margin-bottom: 1.2rem;
}

.languages__type {
  font-size: 1rem;
  color: rgb(34, 172, 184);
}

.languages__level {
  font-size: 1rem;
  font-weight: 100;
}

.education__title {
  font-size: 1.2rem;
  font-weight: 300;
  color: rgb(34, 172, 184);
}

.education__study {
  margin-bottom: 1.2rem;
}

.education__degree {
  font-size: 1rem;
  color: rgb(34, 172, 184);
}

.education__period {
  color: #777777;
}

.education__institution {
  font-weight: 100;
}
